{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'images/icono.ico' %}">
    <title>SALU STYLE </title>
</head>

<body class="bodyLanding">
    <nav class="navbar navbar-expand-lg bg-white shadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/salustyle.png' %}" alt="Salustyle img" width="170" height="70">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end me-3" id="navbarNav">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item me-5">
                        <a class="nav-link fs-5 fw-bold text-dark landing_listitem"
                            href="{% url 'home' %}">Ir a Home</a>
                    </li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <li class="nav-item me-5">
                        <a class="nav-link fs-5 fw-bold text-dark landing_listitem" aria-current="page"
                            href="{% url 'loginUser' %}">Iniciá
                            sesión</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link fs-5 fw-bold text-dark landing_listitem"
                            href="{% url 'newUser' %}">Registrate</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <section id="landing-info">
        <div class="landing-title">
            <h1 class="landing-text">La App que te ayuda a <br> registrar tu <span class="text-white" style="font-family:'Mulish'; font-weight: 600;"> historia clínica</span></h1>
        </div>
    </section>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>

</html>